{% extends 'base_with_structure.html' %}


{% block content %}

	<h2>About Us</h2>
	<p style="line-height:2">Brentwoods education is an online education service provider. We at Brentwoods offer services like- Online Tutoring, Online education (UGC recognized Indian degree programs) and Career Psychometrics . </p>

	<h3>Mission</h3>
	<p style="line-height:2">The Mission is to build a society for mankind where every human being can write his/her own success story! </p>

	<h3>Description</h3>
	<p style="line-height:2">With utmost commitment to make education easy and accessible, anytime and anywhere! We are online education providers who cater to K-12 to Higher education sector. We, ‘The educators to the world’ bring to you three services through which we have revolutionized education. We provide Online Tutoring – facilitated by the best tutors with 24x 7 handholding, career guidance using career selection tools and online degree programs at bachelors and masters program to students worldwide.</p>


{% endblock %}